@{
    Layout = "_BoardLayout";
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/spectrum.css">
<style>
    @@media only screen and (max-width: 1450px) {
        #sketchpadapp {
            position: absolute;
            top: 75px;
            z-index: 999;
            width: 59px;
            left: 16px;
            background-color: white;
            border-radius: 5px;
            padding: 5px;
            border: solid 2px #000000;
        }

        .button {
            border: none;
            padding: 5px;
            border-radius: 5px;
            background-color: white;
        }

        #drawing-color {
            margin: 5px;
            display: block;
            width: 35px;
            height: 35px;
        }

        .hr {
            margin-top: -15px;
            padding: 5px;
            display: block;
        }

        .divider {
            display: inline-block;
            height: 65%;
            width: 1px;
            margin: 0 15px;
        }
    }

    @@media only screen and (min-width: 1450px) {
        #sketchpadapp {
            display: grid;
            background-color: white;
            border-radius: 5px;
            padding: 5px;
            border: solid 2px #000000;
            position: absolute;
            top: 75px;
            z-index: 999;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }

        .button {
            display: inline-grid;
            border: none;
            padding: 5px;
            border-radius: 5px;
            background-color: white;
        }

        #drawing-color {
            display: inline-grid;
            width: 35px;
            height: 35px;
        }

        .divider {
            display: inline-block;
            height: 65%;
            width: 1px;
            margin: 0 15px;
        }

        #visible {
            background-color: #e0e0e0;
            margin: 0 30px;
        }

        .hr {
            display: none;
        }
    }

    body {
        overflow: hidden;
    }

    #canvas {
        background-image: linear-gradient(#c4effd 0.2px, transparent 0.1em), linear-gradient(90deg, #c4effd 0.2px, transparent .1em);
        background-size: 15px 15px;
    }

    .button:focus {
        outline: none;
    }

    .button img {
        width: 35px;
        height: 35px;
    }

    .dropdown-menu {
        top:99% !important;
    }
    .navbar {
        padding: .1rem 1rem !important;
    }
</style>
<div>
    <nav class="navbar navbar-expand navbar-light bg-white">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">WhiteBoard</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#" onclick="document.getElementById('projectUpload').click();">Open</a>
                        <a id="downloadAnchorElem" style="display:none"></a>

                        <a class="dropdown-item" href="#" onclick="saveProject(this);">Save As</a>
                        <input type="file" id="projectUpload" accept="application/JSON" onclick="this.value=null;" hidden />
                        <!--<div class="dropdown-divider"></div> -->
                    </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="sketchpadapp">
            <div>
                <button type="submit" class="button" id="drag_button" onclick="changeDragMode()">
                    <img src="~/resources/grab.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="draw_button" onclick="changeDrawingMode()">
                    <img src="~/resources/draw.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="text_button" onclick="changetextMode()">
                    <img src="~/resources/text.png">
                </button>
                <div class="divider"></div>

                <input id="color-picker" type="color" value="#000000" />
                <div class="divider" id="visible"></div>
                <div class="hr"><hr></div>

                <button type="submit" class="button" onclick="document.getElementById('imageUpload').click();">
                    <img src="~/resources/image.png">
                </button>
                <input type="file" id="imageUpload" accept="image/*" hidden />
                <div class="divider"></div>

                <button type="submit" class="button" onclick="exportToImage();">
                    <img src="~/resources/export.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" data-toggle="modal" data-target="#clear">
                    <img src="~/resources/clear.png">
                </button>
                <div class="divider" id="visible"></div>
                <div class="hr"><hr></div>

                <button type="submit" class="button" data-toggle="modal" data-target="#link">
                    <img src="~/resources/share.png">
                </button>         
            </div>
        </div>

        <canvas id="canvas"></canvas>
    </div>

    <!-- Modal window - copy link-->
                        <div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Share this board
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <input id="input_link" type="text" class="form-control" />
                                            <input class="btn btn-primary" style="margin-top:15px;" type="button" value="Copy link" onclick="copyURL()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal window - clear board -->
                        <div class="modal fade" id="clear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            Clear the canvas?
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <input class="btn btn-primary" class="close" data-dismiss="modal" type="button" value="Ok" onclick="tellServerToClear();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="~/lib/jquery/dist/jquery.js"></script>
                        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
                        <script src="~/lib/fabricjs/fabric.min.js"></script>
                        <script defer src="~/js/spectrum.js"></script>
                        <script defer src="~/js/draw.js"></script>
