@{
    ViewData["Title"] = "Home Page";
}

<style>
    .rightside {
        float: left;
        margin-left: 10px;
    }

    #canvas {
        float: left;
        height: 300px;
        width: 600px;
        border: 2px solid #888;
        border-radius: 4px;
        position: relative; /* Necessary for correct mouse co-ords in Firefox */
    }

    input[type="button"] {
        float: left;
        font-size: 15px;
        padding: 10px;
        -webkit-appearance: none;
        background: #feee;
        border: 1px solid #888;
        margin-bottom: 5px;
        margin-right: 5px;
    }
</style>
<h1>SignalR Sketchpad</h1>
<div id="sketchpadapp">
    <div class="rightside">
        <input type="button" onclick="onStartDrawing()" value="Start drawing" />
        <input type="button" onclick="onStopDrawing()" value="Stop drawing" />
        <input type="file" id="attachment" style="display: none;" onchange="fileSelected(this)" accept="image/*" />
        <input type="button" id="fileImport" onclick="importFile()" value="Import file" />
        <input type="button" id="clear_button" onclick="tellServerToClear()" value="Clear Canvas" />
        <input type="button" id="text_button" onclick="changetextMode()" value="Text" />
        <br />
        <br />
        <canvas id="canvas" width="600" height="300"></canvas>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/fabricjs/index.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/draw.js"></script>
