@{
    Layout = "_BoardLayout";
    ViewData["Title"] = "Home Page";
}
@model WhiteBoard.Models.EmailForm
<link rel="stylesheet" type="text/css" href="~/css/spectrum.css">
<link rel="stylesheet" type="text/css" href="~/css/contextMenu.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery.fontselect.css">
<link rel="stylesheet" type="text/css" href="~/css/board.css">

<div>
    <nav class="navbar navbar-expand navbar-light bg-white">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">WhiteBoard</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#" onclick="document.getElementById('projectUpload').click();">Open</a>
                        <a id="downloadAnchorElem" style="display:none"></a>

                        <a class="dropdown-item" href="#" onclick="saveProject(this);">Save As</a>
                        <input type="file" id="projectUpload" accept="application/JSON" onclick="this.value=null;" hidden />
                        <!--<div class="dropdown-divider"></div> -->
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="parent-menu" id="tool-menu">
        <div>
            <button type="submit" class="button" id="drag_button" onclick="changeDragMode()">
                <img src="~/resources/grab.png">
            </button>
            <div class="divider"></div>

            <button type="submit" class="button" id="draw_button" onclick="changeDrawingMode()">
                <img src="~/resources/draw.png">
            </button>
            <div class="divider"></div>

            <button type="submit" class="button" id="straight_line_button" onclick="changeStraightLineMode()">
                <img src="~/resources/diagonal-line.png">
            </button>
            <div class="divider"></div>

            <button type="submit" class="button" id="text_button" onclick="changetextMode()">
                <img src="~/resources/text.png">
            </button>
            <div class="divider"></div>

            <input id="global-color-picker" type="color" value="#000000" />
            <div class="divider" id="visible"></div>
            <div class="hr"><hr></div>

            <button type="submit" class="button" onclick="document.getElementById('imageUpload').click();">
                <img src="~/resources/image.png">
            </button>
            <input type="file" id="imageUpload" accept="image/*" hidden />
            <div class="divider"></div>

            <button type="submit" class="button" onclick="exportToImage();">
                <img src="~/resources/export.png">
            </button>
            <div class="divider"></div>

            <button type="submit" class="button" data-toggle="modal" data-target="#clear">
                <img src="~/resources/clear.png">
            </button>
            <div class="divider" id="visible"></div>
            <div class="hr"><hr></div>

            <button type="submit" class="button" data-toggle="modal" data-target="#link">
                <img src="~/resources/share.png">
            </button>
        </div>
    </div>
    <div class="parent-menu" id="tool-detail-menu">
        <div>
            <input id="global-font-picker" type="text">
        </div>
    </div>
    <div id="object-menu">
        <input id="object-size" type="range" min="1" max="20" step="1" />
        <div id="object-font-picker-container">
            <input id="object-font-picker" type="text" style="display: none;">
        </div>
    </div>
    <canvas id="canvas" class="context-menu"></canvas>
</div>

<!-- Modal window - copy link-->
<div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Share this board
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="nav nav-tabs">
                        <li class='nav-item'>
                            <a class='nav-link active' data-toggle='tab' href='#s1'>Link</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link ' data-toggle='tab' href='#s2'>Email</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class='tab-pane container fade in show active' id='s1'>
                            <input id="input_link" type="text" class="form-control" />
                            <input class="btn btn-primary" style="margin-top:15px;" type="button" value="Copy link" onclick="copyURL()" />
                        </div>
                        <div class='tab-pane container fade' id='s2'>
                            @using (Html.BeginForm("SendEmail", "Room"))
                            {
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.Link)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "example@mail.com" })
                                </div>

                                <button class="btn btn-primary" type="submit">Send</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal window - clear board -->
<div class="modal fade" id="clear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Clear the canvas?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <input class="btn btn-primary" data-dismiss="modal" type="button" value="Ok" onclick="tellServerToClear();">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/fabricjs/fabric.min.js"></script>
<script defer src="~/js/jquery.contextMenu.js"></script>
<script defer src="~/js/jquery.ui.position.min.js"></script>
<script defer src="~/js/spectrum.js"></script>
<script defer src="~/js/jquery.fontselect.js"></script>
<script defer src="~/js/draw.js"></script>
