@{
    Layout = "_BoardLayout";
    ViewData["Title"] = "Home Page";
}
@model WhiteBoard.Models.PinForm
<link rel="stylesheet" type="text/css" href="~/css/board.css">

<div>
    <canvas id="canvas"></canvas>
</div>
<!-- Modal window - create board -->
<div class="modal fade show" id="createBoard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Welcome to WhiteBoard!
                </h5>
            </div>
            <div class="modal-body">
                <div>
                    <button type="button" class="btn btn-primary" onclick=location.href="@Url.Action("Board", "Board", new { boardId = ViewBag.boardId })">+ New Board</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="Link" name="Link" type="hidden" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/fabricjs/fabric.min.js"></script>
<script>
    let canvas = new fabric.Canvas("canvas", {
        isDrawingMode: false,
        width: window.screen.width,
        height: window.screen.height
    });    
    $(document).ready(function () {
        $('#createBoard').modal({ backdrop: 'static', keyboard: false })
        $("#createBoard").modal("show");
    });
</script>



