@{
    Layout = "_BoardLayout";
    ViewData["Title"] = "Home Page";
}
@model WhiteBoard.Models.PinForm
<link rel="stylesheet" type="text/css" href="~/css/spectrum.css">
<link rel="stylesheet" type="text/css" href="~/css/contextMenu.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery.fontselect.css">
<link rel="stylesheet" type="text/css" href="~/css/board.css">

<div>
    <canvas id="canvas" class="context-menu"></canvas>
</div>
<!-- Modal window - copy link-->
<div class="modal fade show" id="pin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Welcome to WhiteBoard!
                </h5>
            </div>
            <div class="modal-body">
                <div>
                    <button type="button" class="btn btn-primary" onclick=location.href="@Url.Action("Board", "Board", new { boardId = ViewBag.boardId })" >+ New Board</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="Link" name="Link" type="hidden" />


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/lib/fabricjs/fabric.min.js"></script>
<script defer src="~/js/jquery.contextMenu.js"></script>
<script defer src="~/js/jquery.ui.position.min.js"></script>
<script defer src="~/js/spectrum.js"></script>
<script defer src="~/js/jquery.fontselect.js"></script>
<script defer src="~/js/draw.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>



