
@inject IHttpContextAccessor httpContextAccessor

@{
    Layout = "_BoardLayout";
    ViewData["Title"] = "Home Page";
}
@model WhiteBoard.Models.EmailForm

<link rel="stylesheet" type="text/css" href="~/css/board.css">
<link rel="stylesheet" type="text/css" href="~/css/spectrum.css">
<link rel="stylesheet" type="text/css" href="~/css/contextMenu.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery.fontselect.css">

<body onbeforeunload="return pageRedirectWarning()">
    <div>
        <nav class="navbar navbar-expand navbar-light bg-white">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Board menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <button class="dropdown-item" data-toggle="modal" data-target="#usernameChange">Change username</button>
                            <button class="dropdown-item" data-toggle="modal" data-target="#listOfUsersWindow">List of users</button>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            File
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="#" onclick="document.getElementById('projectUpload').click();">Open</a>
                            <a id="downloadAnchorElem" style="display:none"></a>

                            <a class="dropdown-item" href="#" onclick="saveProject(this);">Save As</a>
                            <input type="file" id="projectUpload" accept="application/JSON" onclick="this.value=null;" hidden />
                        </div>
                    </li>
                </ul>
                <input type="text" id="boardName" style="margin: auto;" size="18" placeholder="Change board name..." onchange="changeBoardname(this.value)">
            </div>
        </nav>
        @{
            var theme = httpContextAccessor.HttpContext.Request.Cookies["theme"];
            if (theme == "true")
            {
                <label class="switch">
                    <input id="theme" class="form-control" type="checkbox" onchange="themeChange()" checked>

                    <span class="slider round"></span>
                </label>
            }
            else
            {
                <label class="switch">
                    <input id="theme" class="form-control" type="checkbox" onchange="themeChange()">

                    <span class="slider round"></span>
                </label>
            }
        }

        <div class="parent-menu" id="tool-menu">
            <div>
                <button type="submit" class="button" id="select_button" onclick="changeSelectMode()">
                    <img src="~/resources/select.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="drag_button" onclick="changeDragMode()">
                    <img src="~/resources/grab.png">
                </button>
                <div class="divider" id="visible"></div>
                <div class="hr"><hr></div>

                <button type="submit" class="button" id="draw_button" onclick="changeDrawingMode()">
                    <img src="~/resources/draw.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="straight_line_button" onclick="changeStraightLineMode()">
                    <img src="~/resources/diagonal-line.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="text_button" onclick="changetextMode()">
                    <img src="~/resources/text.png">
                </button>
                <div class="divider"></div>

                <input id="global-color-picker" type="color" value="#000000" />

                <div class="divider" id="visible"></div>
                <div class="hr"><hr></div>

                <button type="submit" class="button" id="fileUpload_button" onclick="document.getElementById('imageUpload').click();">
                    <img src="~/resources/image.png">
                </button>
                <input type="file" id="imageUpload" accept="image/*" hidden />
                <div class="divider"></div>

                <button type="submit" class="button" onclick="exportToImage();">
                    <img src="~/resources/export.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="clear_button" data-toggle="modal" data-target="#clear">
                    <img src="~/resources/clear.png">
                </button>
                <div class="divider" id="visible"></div>
                <div class="hr"><hr></div>

                <button type="submit" class="button" id="share_button" data-toggle="modal" data-target="#link">
                    <img src="~/resources/share.png">
                </button>
                <div class="divider" id="visible"></div>
                <div class="hr"><hr></div>

                <button type="submit" class="button" id="undo_button" onclick="undo()">
                    <img src="~/resources/undo.png">
                </button>
                <div class="divider"></div>

                <button type="submit" class="button" id="redo_button" onclick="redo()">
                    <img src="~/resources/redo.png">
                </button>
            </div>
        </div>
        <div class="parent-menu tool-detail-menu" id="text-detail-menu">
            <div>
                <input id="global-font-picker" type="text">
                <input id="global-object-size" type="range" min="1" max="20" step="1" />
            </div>
        </div>
        <div class="parent-menu tool-detail-menu" id="path-detail-menu">
            <div>
                <input id="path-object-size" type="range" min="1" max="20" step="1" value="1" />
            </div>
        </div>
        <div class="parent-menu tool-detail-menu" id="line-detail-menu">
            <div>
                <input id="line-object-size" type="range" min="1" max="20" step="1" value="1" />
            </div>
        </div>
        <div id="object-menu">
            <input id="object-size" type="range" min="1" max="20" step="1" />
            <div id="object-font-picker-container">
                <input id="object-font-picker" type="text" style="display: none;">
            </div>
        </div>
        <button type="submit" id="action-history-button" onclick="showActionHistory()">
            <img src="~/resources/history.png">
        </button>

        <!-- Action history -->
        <div id="action-history" class="container rounded border border-dark">
            <div>
                <button type="button" id="close-button" class="close" aria-label="Close" onclick="hideActionHistory()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="grid-container" class="container rounded border">
            </div>
        </div>

        <canvas id="canvas" class="context-menu"></canvas>
    </div>

    <!-- Modal window - change username-->
    <div class="modal fade" id="usernameChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Change username
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input id="username" type="text" class="form-control" value="Anonymous" />
                        <input class="btn btn-primary" style="margin-top:15px;" type="button" value="Apply" data-dismiss="modal" onclick="changeUsername()" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal window - List of users-->
    <div class="modal fade" id="listOfUsersWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        List of users
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="listOfUsers" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal window - copy link-->
    <div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Share this board
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class='nav-item'>
                                <a class='nav-link active' data-toggle='tab' href='#s1'>Link</a>
                            </li>
                            <li class='nav-item'>
                                <a class='nav-link ' data-toggle='tab' href='#s2'>Email</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class='tab-pane container fade in show active' id='s1'>
                                <input id="input_link" type="text" class="form-control" />
                                <input class="btn btn-primary" style="margin-top:15px;" type="button" value="Copy link" onclick="copyURL()" />
                            </div>
                            <div class='tab-pane container fade' id='s2'>
                                <form asp-controller="Board" asp-action="SendEmail" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccess">
                                    <div class="form-group">
                                        <input id="Link" name="Link" type="hidden" value="@Context.Request.Path">
                                        <label for="Email">Insert email.</label>
                                        <input class="form-control" data-val="true" data-val-required="The Insert email. field is required." id="Email" name="Email" placeholder="example@mail.com" type="text" value="">
                                        <br>
                                        <label for="Pin">Share with pincode?</label>
                                        <input data-val="true" data-val-required="The Share with pincode? field is required." id="Pin" name="Pin" type="checkbox" value="true">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Send</button>
                                    @Html.AntiForgeryToken()
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal window - clear board -->
    <div class="modal fade" id="clear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Are you sure you want to clear the board?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input class="btn btn-primary" data-dismiss="modal" type="button" value="Yes" onclick="tellServerToClear();">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast - success -->
    <div id="success-toast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <strong class="mr-auto">Notification</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="success-toast-body" class="toast-body">
        </div>
    </div>

    <!-- Toast - failure -->
    <div id="failure-toast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <strong class="mr-auto">Notification</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Unsupported file type.
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/lib/fabricjs/fabric.min.js"></script>
    <script defer src="~/js/jquery.contextMenu.js"></script>
    <script defer src="~/js/jquery.ui.position.min.js"></script>
    <script defer src="~/js/spectrum.js"></script>
    <script defer src="~/js/jquery.fontselect.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script defer src="~/js/draw.js"></script>

</body>