@media only screen and (max-width: 1835px) {
    .parent-menu {
        position: absolute;
        z-index: 1;
        width: 59px;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
    }

    #tool-menu {
        top: 73px;
        left: 16px;
        border: solid 2px #000000;
    }

    .tool-detail-menu {
        display: none;
        top: 75px;
        left: 22px;
        border: solid 1px #dddddd;
        width: 162px;
    }
    #path-detail-menu {
        top: 291px;
    }
    #line-detail-menu {
        top: 360px;
    }
    #text-detail-menu {
        top: 429px;
    }
    
    .button {
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
    }

    #drawing-color {
        margin: 5px;
        display: block;
        width: 35px;
        height: 35px;
    }

    .hr {
        margin-top: -15px;
        display: block;
    }

    .divider {
        display: inline-block;
        height: 65%;
        width: 1px;
        margin: 0 15px;
    }
}

@media only screen and (min-width: 1835px) {
    .parent-menu {
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    #tool-menu {
        display: grid;
        top: 73px;
        border: solid 2px #000000;
        width: 62%;
    }

    .tool-detail-menu {
        display: none;
        top: 138px;
        border: solid 1px #000000;
        width: 162px;
    }

    .button {
        display: inline-grid;
        border: none;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
    }

    #drawing-color {
        display: inline-grid;
        width: 35px;
        height: 35px;
    }

    .divider {
        display: inline-block;
        height: 65%;
        width: 1px;
        margin: 0 15px;
    }

    #visible {
        background-color: #e0e0e0;
        margin: 0 30px;
    }

    .hr {
        display: none;
    }
}

input[type="range"] {
    width: 150px;
}

.font-select {
    width: 150px !important;
}

#object-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    border: solid 2px #000000;
    text-align: center;
    display: grid;
}

body {
    overflow: hidden;
}

div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

#canvas {
    background-image: linear-gradient(#878787 0.2px, transparent 0.1em), linear-gradient( 90deg, #878787 0.2px, transparent .1em);
    background-size: 15px 15px;
    background-color: #181818;
}

.button:focus {
    outline: none;
}

.button img {
    width: 35px;
    height: 35px;
}

.dropdown-menu {
    top: 99% !important;
}

.navbar {
    padding: .1rem 1rem !important;
}

.tab-content {
    margin-top: 15px;
}

.password {
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline;
    margin-right: 5px;
}

#boardName {
    text-align: center;
    font-size: 20px;
    border: 0;
    box-shadow: none;
    width: 25%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.toast {
    position: absolute;
    top: 40px;
    right: 0;
    margin: 10px;
}


.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 5px;
    top: 5px;
    z-index: 99;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bottomright {
    background-color: white;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    border-radius: 5px
}